{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{% static 'index.css' %}">
      <title>Travail pratique Biophysique</title>
</head>
<body>

      <div class="tete">

<h1>Travail pratique de Biophysique</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
       Dolorum, consequuntur? Sit fugiat quia, perferendis ad saepe provident
        suscipit beatae, iure iusto ipsam laboriosam nam? Quibusdam, provident eum f
        ugit temporibus aut corporis in corrupti voluptates, cumque sapiente molliti
      a ipsum ullam a harum. Aperiam aliquam mollitia enim quibusdam expedita sit dol
      ores animi.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed repellendus
       quidem repudiandae, recusandae eveniet placeat minus nam voluptate at nulla.
</p>

      </div>



<div class="boite_milieu">
      <strong>Lorem ipsum dolor sit amet.</strong>
      <form action="" method="post">
            <label for="nom">
                  <input type="name" id="nom" name="nom_complet" placeholder="Remplissez votre nom complet..." required> <br>

            </label>

<label for="photo">
      <input type="file"  id="photo" name="photo" id="">


</label>

      </form>

</div>





      <footer>
            <em>
                  Lorem ipsum dolor sit amet.
            </em>

            <p>
                  Lorem ipsum dolor sit amet consectetur a
                  dipisicing elit. Eos, optio. Quod blanditiis cons
                  equuntur dolorem autem suscipit doloribus, deleniti delectus accusamus.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis corrupti pariat
                  ur reprehenderit! Nisi nemo perspiciatis sed corrupti eum liber
                  o doloremque esse quia quis at, eligendi velit odit, explicabo placeat officia.
            </p>
            

      </footer>
      
</body>
</html>